.Header{
    cursor: pointer;
    background-color: rgb(45, 105, 47);
    display: flex;
    color: white;
    
}
.Header-logo{
    margin: 0 !important;
    filter:invert(100%);
    height: 25px;
}
.navutton{
    cursor: pointer;
    display: inline-block;
    padding: 20px;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Header-button:hover{
    background-color: rgb(31, 105, 70);
    color: white;
}